{{#if message}} {{message}} {{/if}}


<form method="post">

    <table>

        <tr>
            <td>Add Product: </td>
            <td>
                <input type="text" placeholder="Product Name" name="user_name" required> </td>
        </tr>
    
        <tr>

            <td>
                <input type="submit">
                  <input type="button" value="Display" onclick="window.location='display'">
            </td>
        </tr>
    </table>





</form>